<h1><%=@stylist.name()%></h1>
<h2><%=@stylist.rate()%></h2>

 <h3>Clients</h3>
<ul>
  <%@clients.each do |client|%>
    <li><a href="/client/<%=client.id()%>"><%= client.name %></a></li>
  <%end%>
</ul>


<form class="" action="/stylist/<%=@stylist.id()%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="name">Name
    <input type="text" name="name" value="">
  </label>
  <label for="rate">Rate
    <input type="text" name="rate" value="">
  </label>
  <button type="submit" name="button">Update Stylist</button>
</form>

<form class="" action="/stylist/<%=@stylist.id()%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" name="button">Delete Stylist</button>
</form>
